@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$family-sans-serif: "Montserrat",
sans-serif;

$grey-darker: #333;
$black-ter: #222;

$orange: #FF7518;
$yellow: #f4db00;
$green: #3FB618;
$turquoise: #00ABA9;
$blue: #1FAEFF;
$purple: #AA40FF;
$red: #FF2E12;
$grey: #dbdbdb;

$primary: #2780E3 !default;
$primary-dark: darken(#2780E3, 20);
$warning: $orange;
$info: $purple;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$body-size: 16px;

$radius: 0;
$radius-small: 0;
$radius-large: 0;

$link-hover: $primary-dark;
$link-focus: $primary-dark;
$link-active: $primary-dark;

$button-hover-color: $grey-darker;
$button-focus: $black-ter;
$button-active-color: $black-ter;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 0 1px $grey;
$card-shadow: 0 0 0 1px $grey;

$content-heading-line-height: 1.25;

@import "~bulma";

code[class*="language-"] .tag,
code[class*="language-"] .content,
code[class*="language-"] .number {
  align-items: stretch;
  background-color: transparent;
  border-radius: 0;
  display: inline;
  font-size: 1em;
  height: auto;
  justify-content: flex-start;
  line-height: normal;
  padding: 0;
  white-space: pre;
  margin-right: 0;
  min-width: auto;
  text-align: left;
  vertical-align: baseline;
}

.content h2 {
  border-bottom: 1px solid $black-ter;
}

.content pre {
  padding: 1.25em 0.75em;
}

.content .anchor {
  margin-right: 1em;
}
