// @import "~normalize.css";
// @import "~open-color/open-color.scss";
@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$family-sans-serif: "Montserrat", sans-serif;
$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import "~bulma";
code[class*="language-"] .tag,
code[class*="language-"] .content,
code[class*="language-"] .number {
  align-items: stretch;
  background-color: transparent;
  border-radius: 0;
  display: inline;
  font-size: 1em;
  height: auto;
  justify-content: flex-start;
  line-height: normal;
  padding: 0;
  white-space: pre;
  margin-right: 0;
  min-width: auto;
  text-align: left;
  vertical-align: baseline;
}
